#portfolio-wrapper {
  display: flex;
  flex-direction: column;
  z-index: inherit;
}

/* portfolio Wall or hanging pics */
#portfolio-view-wrapper {}

.above-animations {
  z-index: 1;
}

.solid-bg {
  background-color: var(--bg-color);
}

#projects {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style-type: none;
}

.project {
  flex: 1 1 0pt;
  height: fit-content;

  justify-items: center;
  display: grid;
  grid-template:
    "icon"
    "icon"
    "name"auto;
}

.project:hover {
  cursor: pointer;
}

.project * {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.project-icon {
  grid-area: icon;
}

.project-name {
  grid-area: name;
  font-size: min(calc(17.5vw / var(--project-cnt)), 27pt);
}

/* #portfolio-display-wrapper {

} */
#portfolio-main-wrapper {
  min-height: max;
}

/* portfolio Display or content of projects */
#portfolio-display-wrapper {
  display: flex;
  flex-flow: column nowrap;
}

#portfolio-display-wrapper * {
  display: block;
}

.animated-content {
  z-index: -1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}
.animated-content * {
  max-width: auto;
}

.animated-content[hidden] {
  display: none;
}

.animated-content .project-title {
  text-align: left;
}

.animated-content .project-subtitle {
  text-align: right;
  padding-left: 25%;
}

.close-portfolio-btn {
  width: fit-content;
  align-self: center;
}
.close-portfolio-btn:hover {
  cursor: pointer;
}


#animated-container {
  /* animation-duration: var(--page-change-duration) */
  /* display: none; */
  height: 0;
  /* transition: height var(--page-change-duration) linear; */
}

#animated-container.content {
  /* animation-duration: var(--page-change-duration) */
  /* display: inline; */
  /* max-height: auto; */
  /* animation-duration: calc(var(--page-change-duration)/2);
  animation-name: portfolio-bg-down;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out; */
  /* animation:  ) 1; */
  /* height: auto; */
  height: auto;
  transition: height var(--page-change-duration) linear;
}

@keyframes portfolio-bg-down {
  from {
    height: 0;
  }

  to {
    height: auto;
  }
}


#portfolio-content * {
  color: var(--fnt-color);

}

#display-footer {
  /* object-fit: fill; */
  width: 100%;
  height: 15vw;
  background-image: url('/public/res/couch.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% 150%;
  max-height: 120pt;
  bottom: 0;
}