#portfolio-wrapper {
  display: flex;
  flex-direction: column;
}

/* portfolio Wall or hanging pics */
#portfolio-view-wrapper {
}

#projects {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style-type: none;
}
.project {
  flex: 1 1 0pt;
  height: fit-content;

  justify-items: center;
  display: grid;
  grid-template:
    "icon"
    "icon"
    "name" auto;
}
.project:hover {
  cursor: pointer;
}

.project * {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.project-icon {
  grid-area: icon;
}

.project-name {
  grid-area: name;
  font-size: min(calc(17.5vw / var(--project-cnt)), 27pt);
}

/* #portfolio-display-wrapper {

} */
#portfolio-main-wrapper {
  min-height: max;
}

/* portfolio Display or content of projects */
#portfolio-display-wrapper {
  display:flex;
  flex-flow: column nowrap;
}
#portfolio-display-wrapper * {
  display: block;
}

#portfolio-content {
  transition: height 5s ease 0s;
}

#portfolio-content * {
  color: var(--fnt-color);

}

#display-footer {
  /* object-fit: fill; */
  width: 100%;
  height: 15vw;
  background-image: url('/public/res/couch.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% 150%;
  max-height: 120pt;
  bottom: 0;
}
