#site-header-wrapper {
  display: grid;
  grid-template: "logo" auto;
  background-image: linear-gradient(
    to top,
    var(--bg-color),
    var(--bg-color),
    var(--bg-color),
    var(--surface-color)
  );
}


#logo-wrapper {
  grid-area: logo;
  display: flex;
  justify-content: center;
  height: max(min(15vw, 175pt), 90pt);
}
#logo-wrapper * {
  height: 100%;
}
