nav {
  text-align: center;
}
nav a {
  text-decoration: none;
  transition: color 0.5s ease 0s;
}

/* nav a:link {
  color: #fef6c2;
}
nav a:visited {
  color: #d2b48c;
}*/
nav a:hover {
  color: var(--fnt-hover);
} 

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  /* font-size: var(--nav-fnt-size);
  font-family: var(--nav-fnt-fam); */
}
nav * {
  font-size: min(max(27pt, calc(13.0vw / var(--nav-cnt))), 48pt);
  line-height: var(--nav-fnt-lh);
  font-family: var(--nav-fnt-fam);
}
nav li {
  padding: 0.5em 1em;
  list-style-type: none;
}
