@import "fonts.css";
/*
	Theme variables used Similar to MATerial theming:
	bg-color
	surface-color // tile-color
	error-color
	success-color
	primary-color
	primary-alt-color
	secondary-color
	secondary-alt-color

	on-bg-color
	on-surface-color // tile-color
	on-error-color
	on-success-color
	on-primary-color
	on-primary-alt-color
	on-secondary-color
	on-secondary-alt-color

  fnt-fam



	dark-bg-color
	dark-surface-color // tile-color
	dark-error-color
	dark-success-color
	dark-primary-color
	dark-primary-alt-color
	dark-secondary-color
	dark-secondary-alt-color

	on-dark-bg-color
	on-dark-surface-color // tile-color
	on-dark-error-color
	on-dark-success-color
	on-dark-primary-color
	on-dark-primary-alt-color
	on-dark-secondary-color
	on-dark-secondary-alt-color
	

	light-bg-color
	light-surface-color // tile-color
	light-error-color
	light-success-color
	light-primary-color
	light-primary-alt-color
	light-secondary-color
	light-secondary-alt-color

	on-light-bg-color
	on-light-surface-color // tile-color
	on-light-error-color
	on-light-success-color
	on-light-primary-color
	on-light-primary-alt-color
	on-light-secondary-color
	on-light-secondary-alt-color
*/
* {
  box-sizing: border-box;
  /* --fnt-fam: museo-w01-700,museo-w05-700,serif; */

  --fnt-nav-size: 40px;
  font-family: futura-lt-w01-book,futura-lt-w05-book,sans-serif;
  /* font-family: var(--fnt-fam); */
  color: var(--fnt-color);
}
html {
  background-color: var(--bg-color);
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #221811;
  font-family: Tahoma, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .title-font {
  /* font-family: var(--nav-fnt-fam); */
  color: var(--fnt-color-title);
}
nav * {
  font-family: var(--fnt-fam);
}

small {
  font-size: .6em;
}

#site-wrapper {
  display: flex;
  z-index: 0;
  flex-direction: column;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
}
#logo {
  height: inherit;
  background: transparent;
}
#logo * {
  /* height: 200px; */
  height: inherit;
  background: inherit;
}

header {
  /* background: transparent; */
  z-index: 1;
}
header a {
  text-decoration: none;
}
header a:hover {
  color: none;
}
header .logo {
  align-self: center;
}
nav {
  text-align: center;
}
nav a {
  text-decoration: none;
}
nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0.5em 1em;
  font: normal normal normal;
  font-size: var(--fnt-nav-size);
  font-family: var(--fnt-fam);
}
nav li {
  padding: 0.5em 1em;
  list-style-type: none;
}
main {
}
h2, h3, h4, p, ul, dl {
  padding: 0 1em;
}
main ul {
}
.mobile {
  display: inline;
}
.desktop {
  display: none;
}
footer {
  text-align: center;
  padding: 0.5em 0;
  background-color: var(--secondary-color);
}
footer * {
  background: transparent;
}

/* general tag settings */
img {
  max-width: 100%;
}

/* General Use Classes */
.content-only {
  margin: 0;
  padding: 0;
}

.flexbox-h {
  display: flex;
  flex-direction: row;
}


@media (min-width: 600px) {
  header {
    text-align: center;
    padding-left: 0;
  }
  h1 {
    font-size: 3em;
  }
  nav ul {
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  nav li {
    border-bottom: none;
  }

  h4 {
    margin: 0 10%;
  }
}
@media (min-width: 1024px) {
  header {
    grid-area: header;
  }
  nav {
    grid-area: nav;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
  #site-wrapper {
    /* display: grid; */
    grid-template:
      "header header"
      "nav main"
      "footer footer"
      / 200px;
  }
  header {
    /* background-image: url(coffeelogo.jpg); */
  }
}
