[site-theme="drew-theme"] {
    --bg-color: #2D402E;
	--surface-color: #17201794;
	/* --surface-color: rgba(#172017, 0.58); */
	--error-color: ;
	--success-color: ;
	--primary-color: ;
	--primary-alt-color: ;
	--secondary-color: #8c6542;
	--secondary-alt-color: ;

	--on-bg-color: ;
	--on-surface-color: ;
	--on-error-color: ;
	--on-success-color: ;
	--on-primary-color: ;
	--on-primary-alt-color: ;
	--on-secondary-color: ;
	--on-secondary-alt-color: ;

	--fnt-fam: dinneuzeitgroteskltw01-_812426,sans-serif;
    /* --fnt-fam: museo-slab-w01-100,museo-slab-w05-100,serif; */
	--fnt-size: 50px;
	--fnt-lh: 1.4em;
    --fnt-color: #fcfcfc;
    --fnt-color-title: #C0CFC1;
    --fnt-hover: #172017;
    --fnt-alt-color: #836D45;

    --nav-fnt-fam: museo-w01-700,museo-w05-700,serif;
	--nav-fnt-size: 40px;
	--nav-fnt-lh: 1.4em;

	/* 
	background-color: #231814; */

	/* --fnt-nav-size: 40px; */

    /* possibly transition: color 0.4s ease 0s for hovering */
    /* --fnt-alt-hover: ; */
    /* --bg-color: 192,207,193; */
}